@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: linear-gradient(to right, #fafafa 1px, transparent 1px),
    linear-gradient(to bottom, #fafafa 1px, transparent 1px);
  background-size: 15px 15px;
  z-index: -1;
}

nav {
  max-width: 80%;
  margin: 0px auto;
  margin-top: 50px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px #e7e7e7;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  border-radius: 15px;
  color: #444342;
}

.logo img {
  width: 90px;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 10px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 0.75rem;
  font-weight: bold;
  color: #444342;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links li a:hover {
  color: #676564;
  letter-spacing: 0.5px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  height: 2px;
  width: 8px;
  border-radius: 50px;
  background-color: #444342;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
  background-color: #676564;
}

.sidemenu {
  display: none;
}

main {
  width: 55%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-wrapper {
  position: relative;
  border: 1px dashed #676564;
  padding: 3rem 3rem;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.section-wrapper .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #676564;
  border-radius: 50%;
  z-index: 1;
}

.section-wrapper .top-left {
  top: -4px;
  left: -4px;
}

.section-wrapper .top-right {
  top: -4px;
  right: -4px;
}

.section-wrapper .bottom-left {
  bottom: -4px;
  left: -4px;
}

.section-wrapper .bottom-right {
  bottom: -4px;
  right: -4px;
}

.section-wrapper::before,
.section-wrapper::after {
  content: "";
  position: absolute;
  height: 60px;
  border-left: 1px dashed #676564;
  z-index: 0;
}

.section-wrapper::before {
  left: -1px;
  top: 100%;
}

.section-wrapper::after {
  right: -1px;
  top: 100%;
}

.about-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #dadada;
  box-shadow: 0 0 10px #e7e7e7;
  margin-bottom: 25px;
}

.header-main {
  font-weight: 600;
  color: #444342;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.header-sub {
  font-weight: 550;
  color: #444342;
  font-size: 0.65rem;
  letter-spacing: 0.5px;
  opacity: 0.9;
  text-transform: uppercase;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 35px;
}

.header-links a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #444342;
}

.header-links a:hover {
  color: #444342;
  opacity: 0.8;
}

.header-location {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 30px;
  color: #444342;
  font-size: 0.75rem;
  opacity: 0.8;
  font-family: "JetBrains Mono";
}

#location-container {
  font-family: "JetBrains Mono";
  font-size: 1.5rem;
  display: flex;
  gap: 2px;
}

.digit {
  display: inline-block;
  width: 1ch;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #444342;
  font-size: 0.7rem;
  opacity: 0.85;
  font-family: "JetBrains Mono";
}

.digit::after {
  content: attr(data-final);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  animation: scrollDown 1s steps(10) forwards;
}

@keyframes scrollDown {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}

.about-main,
.services-main,
.stack-main,
.contact-main {
  padding: 4px;
  border-radius: 20px;
  margin: 0 auto;
  border: 1px solid #dadada;
  width: fit-content;
  margin-bottom: 40px;
}

.about-main p,
.services-main p,
.stack-main p,
.contact-main p {
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: 550;
  font-size: 0.65rem;
  color: #444342;
  border: 0.5px solid #dadada;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.about-sub {
  font-weight: 500;
  font-size: 0.75rem;
  color: #444342;
  opacity: 0.8;
  line-height: 1.8;
  text-align: justify;
}

.services-sub {
  width: 100%;
  color: #444342;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.services {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px dashed #444342;
  padding: 20px 0 20px 20px;
  border-radius: 0.5em;
  opacity: 0.9;
  font-weight: 500;
  font-size: 0.8rem;
  color: #444342;
  letter-spacing: 0.5px;
}

.services img {
  width: 20px;
}

.services:hover {
  background-color: #f7f7f7;
}

.stack-sub {
  width: 100%;
  color: #444342;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.stack {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px dashed #444342;
  padding: 20px;
  border-radius: 0.5em;
  opacity: 0.9;
  font-weight: 550;
  font-size: 0.8rem;
  color: #444342;
  letter-spacing: 0.5px;
}

.stack img {
  width: 20px;
  margin-bottom: 1.2rem;
}

.stack p:nth-child(3) {
  font-size: 0.65rem;
  margin-top: 0.5rem;
  opacity: 0.9;
}

.stack:hover {
  background-color: #f7f7f7;
}

.contact-sub {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #444342;
}

.contact-text {
  opacity: 0.9;
  font-weight: 450;
  font-size: 0.7rem;
  line-height: 1.8;
  width: 65%;
}

.contact-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  opacity: 0.8;
  width: 75%;
  border: 0.5px solid #dadada;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  padding: 10px 15px;
  cursor: pointer;
}

.copy {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.copy:hover {
  color: #121212;
}

.contact-pointer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 30px;
  opacity: 0.8;
}

.pointer {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: #444342;
  border-radius: 50%;
  box-shadow: 0 0 20px #dadada, 0 0 60px #dadada, 0 0 100px #dadada;
  pointer-events: none;
}

.pointer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #dadada;
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
}

.contact-pointer p {
  font-size: 0.65rem;
  color: #444342;
  font-weight: 450;
}

footer {
  background: radial-gradient(#444342 20%, #121212 20%);
  background-size: 10px 10px;
  background-position: 0px 20px;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  color: #dadada;
  font-size: 0.8em;
  font-weight: 400;
}

.socials {
  display: flex;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.socials input {
  display: none;
}

.socials label {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.socials a {
  color: #dadada;
  font-size: 0.65em;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.slider .ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: left 0.3s ease;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#github:checked ~ .slider .ball {
  left: 0;
}

#twitter:checked ~ .slider .ball {
  left: 23px;
}

#linkedin:checked ~ .slider .ball {
  left: 46px;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 20px 0px 30px 15px;
  }

  nav .nav-bar {
    padding: 10px 10px;
  }

  .logo img {
    width: 100px;
  }

  .nav-links li {
    display: none;
  }

  .sidemenu {
    display: block;
    font-size: 1.2rem;
    color: #444342;
  }

  nav .menu-icon {
    display: flex;
    align-items: center;
    margin: 0 24px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  nav .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    background: radial-gradient(#dadada 20%, rgb(242, 242, 242) 20%);
    background-size: 10px 10px;
    background-position: 0px 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar .sidebar-main {
    margin: 0 auto;
    padding: 30px 30px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar .close-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #444342;
  }

  .sidebar .close-icon:hover {
    color: #676564;
  }

  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20px 15px 40px 15px;
  }

  .sidebar-content .list {
    list-style: none;
  }

  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #444342;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .lists .nav-link:hover {
    color: #676564;
    letter-spacing: 1px;
  }

  .sidebar-content hr {
    border: none;
    border-top: 1px solid #676564;
    margin: 30px 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar-content hr:nth-child(1) {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .sidebar-content hr:nth-child(4) {
    margin-bottom: 40px;
  }

  .coder-wrapper {
    padding-bottom: 40px;
  }

  .coder {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    border-radius: 0.5em;
    border: 1px solid #676564;
    width: 95%;
    margin: 0 auto;
    background-color: #f0f0f0;
  }

  .coder-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5px solid #f7f7f7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  .coder-details {
    font-weight: bold;
    color: #444342;
    letter-spacing: 0.6px;
  }

  .coder-name {
    font-size: 1rem;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  .coder-email {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }

  .overlay.active {
    display: block;
  }

  .footer {
    padding: 20px 30px;
  }
}

@media (min-width: 601px) and (max-width: 1025px) {
  nav {
    padding: 20px 0px 30px 15px;
  }
}
