@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  background: radial-gradient(#dadada 20%, rgb(242, 242, 242) 20%);
  background-size: 10px 10px;
  background-position: 0px 20px;
  z-index: 1;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(180, 180, 180, 0.6) 0%,
    rgba(180, 180, 180, 0.3) 40%,
    rgba(180, 180, 180, 0) 80%
  );
  filter: blur(80px);
  -webkit-filter: blur(80px);
  pointer-events: none;
  z-index: 0;
  opacity: 0.9;
  animation: cloudDrift 18s ease-in-out infinite;
}

.container::before {
  top: 0;
  right: 0;
  animation-delay: 6s;
}

.container::after {
  bottom: 0;
  left: 0;
  animation-delay: 9s;
}

nav {
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 8;
  margin: 0px auto;
  padding: 10px 20px 30px 20px;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 120px;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 10px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 0.85rem;
  font-weight: bold;
  color: #444342;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links li a:hover {
  color: #676564;
  letter-spacing: 0.5px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  height: 2px;
  width: 8px;
  border-radius: 50px;
  background-color: #444342;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
  background-color: #676564;
}

.sidemenu {
  display: none;
}

.floating {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  padding-bottom: 145px;
}

.object-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  transition: transform 0.1s ease-out, box-shadow 0.3s ease-in-out;
  gap: 10px;
}

.object-wrapper p {
  font-weight: 500;
  font-size: 0.75rem;
  color: #444342;
  padding: 8px 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.object-wrapper i {
  color: #444342;
  position: relative;
  bottom: 0.8rem;
}

.object-wrapper p:nth-child(2),
.object-wrapper i:nth-child(1) {
  opacity: 0.8;
}

.object-wrapper i:nth-child(1) {
  bottom: 0.8rem;
  left: 0.5rem;
  transform: translateY(-10px) rotate(-100deg);
}

.object-wrapper:nth-child(1) {
  top: 75%;
  left: 8%;
}

.object-wrapper:nth-child(2) {
  top: 55%;
  left: 82%;
}

.about-container {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.about-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5px solid #f7f7f7;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.about-maintitle {
  font-weight: 700;
  font-size: 2rem;
  color: #444342;
  margin: 20px 0 15px auto;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  width: 30px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.about-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
  color: #444342;
  opacity: 0.9;
  margin: 0 0 40px auto;
}

.about-maintext {
  font-weight: bolder;
  font-size: 5rem;
  color: #444342;
  max-width: 65%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about-subtext {
  width: 50%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 0.85rem;
  color: #444342;
  opacity: 0.9;
  line-height: 1.6;
}

footer {
  background: radial-gradient(#444342 20%, #121212 20%);
  background-size: 10px 10px;
  background-position: 0px 20px;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  color: #dadada;
  font-size: 0.8em;
  font-weight: 400;
}

.socials {
  display: flex;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.socials input {
  display: none;
}

.socials label {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.socials a {
  color: #dadada;
  font-size: 0.65em;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.slider .ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: left 0.3s ease;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#github:checked ~ .slider .ball {
  left: 0;
}

#twitter:checked ~ .slider .ball {
  left: 23px;
}

#linkedin:checked ~ .slider .ball {
  left: 46px;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 20px 0px 30px 15px;
  }

  nav .nav-bar {
    padding: 10px 10px;
  }

  .logo img {
    width: 100px;
  }

  .nav-links li {
    display: none;
  }

  .sidemenu {
    display: block;
    font-size: 1.2rem;
    color: #444342;
  }

  nav .menu-icon {
    display: flex;
    align-items: center;
    margin: 0 24px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  nav .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    background: radial-gradient(#dadada 20%, rgb(242, 242, 242) 20%);
    background-size: 10px 10px;
    background-position: 0px 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar .sidebar-main {
    margin: 0 auto;
    padding: 30px 30px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar .close-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #444342;
  }

  .sidebar .close-icon:hover {
    color: #676564;
  }

  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20px 15px 40px 15px;
  }

  .sidebar-content .list {
    list-style: none;
  }

  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #444342;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .lists .nav-link:hover {
    color: #676564;
    letter-spacing: 1px;
  }

  .sidebar-content hr {
    border: none;
    border-top: 1px solid #676564;
    margin: 30px 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar-content hr:nth-child(1) {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .sidebar-content hr:nth-child(4) {
    margin-bottom: 40px;
  }

  .coder-wrapper {
    padding-bottom: 40px;
  }

  .coder {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    border-radius: 0.5em;
    border: 1px solid #676564;
    width: 95%;
    margin: 0 auto;
    background-color: #f0f0f0;
  }

  .coder-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5px solid #f7f7f7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  .coder-details {
    font-weight: bold;
    color: #444342;
    letter-spacing: 0.6px;
  }

  .coder-name {
    font-size: 1rem;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  .coder-email {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }

  .overlay.active {
    display: block;
  }

  .footer {
    padding: 20px 30px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  nav {
    padding: 20px 0px 30px 15px;
  }
}
