@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: linear-gradient(to right, #fafafa 1px, transparent 1px),
    linear-gradient(to bottom, #fafafa 1px, transparent 1px);
  background-size: 15px 15px;
  z-index: -1;
}

nav {
  max-width: 80%;
  margin: 0px auto;
  margin-top: 50px;
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px #e7e7e7;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
  background-color: #fafafa;
  border-radius: 15px;
  color: #444342;
}

.logo img {
  width: 90px;
  display: block;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 10px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 0.75rem;
  font-weight: bold;
  color: #444342;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.nav-links li a:hover {
  color: #676564;
  letter-spacing: 0.5px;
}

.sidemenu {
  display: none;
}

.changelog-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-pre {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;
  width: fit-content;
  padding: 4px;
  border-radius: 20px;
  border: 0.5px solid #dadada;
  font-weight: 550;
  font-size: 0.7rem;
}

.pre {
  color: #444342;
  padding: 5px 12px;
  border: 0.5px solid #dadada;
  background-color: #fafafa;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.pre a {
  color: #444342;
  text-decoration: none;
}

.pre p {
  opacity: 0.8;
}

.pre i {
  font-size: 0.65rem;
}

.header-main {
  font-size: 4rem;
  color: #444342;
  font-weight: 650;
  line-height: 1.3;
  letter-spacing: 2px;
  width: 100%;
  margin: 0 auto;
}

.header-sub {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #444342;
  line-height: 1.6;
}

.changelog {
  color: #444342;
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 70px;
  margin-top: 60px;
}

.changelog-left {
  flex: 1;
  display: flex;
  gap: 1.5rem;
  font-weight: 550;
  align-items: center;
  position: sticky;
  top: 40px;
  align-self: flex-start;
}

.changelog-version {
  height: fit-content;
  width: fit-content;
  padding: 2px;
  border-radius: 0.5rem;
  border: 0.5px solid #dadada;
  font-size: 0.75rem;
}

.changelog-version p {
  padding: 5px 12px;
  background-color: #fafafa;
  border: 0.5px solid #fafafa;
  border-radius: 0.4rem;
}

.changelog-date {
  font-size: 0.8rem;
  opacity: 0.9;
}

.changelog-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0.5px solid #dadada;
  padding: 30px;
}

.changelog-img {
  padding: 2px;
  border-radius: 0.5rem;
  border: 0.5px solid #dadada;
  margin-bottom: 40px;
  width: 100%;
}

.changelog-img img {
  width: 100%;
  overflow: hidden;
  padding: 5px 12px;
  background: linear-gradient(-180deg, #ffff 0%, #fafafa 50%, #f0f0f0 100%);
  border-radius: 0.4rem;
  display: block;
}

.right-wrapper {
  padding-left: 4px;
}

.changelog-main {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.changelog-sub {
  opacity: 0.9;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.8;
  text-align: justify;
}

.changelog-sub p {
  margin-bottom: 10px;
}

.changelog-sub ul {
  padding-left: 20px;
}

.changelog-sub li {
  padding-left: 10px;
  margin-bottom: 4px;
}

.changelog-sub li:last-child {
  margin-bottom: 0px;
}

footer {
  background: radial-gradient(#444342 20%, #121212 20%);
  background-size: 10px 10px;
  background-position: 0px 20px;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  color: #dadada;
  font-size: 0.8em;
  font-weight: 400;
}

.socials {
  display: flex;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.socials input {
  display: none;
}

.socials label {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.socials a {
  color: #dadada;
  font-size: 0.65em;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.slider .ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: left 0.3s ease;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#github:checked ~ .slider .ball {
  left: 0;
}

#twitter:checked ~ .slider .ball {
  left: 23px;
}

#linkedin:checked ~ .slider .ball {
  left: 46px;
}

@media only screen and (max-width: 600px) {
  nav {
    max-width: 90%;
    margin-top: 30px;
    padding: 6px;
  }

  nav .nav-bar {
    max-width: 100%;
    padding: 10px 20px;
  }

  .logo img {
    width: 85px;
  }

  .nav-links li {
    display: none;
  }

  .sidemenu {
    display: block;
    font-size: 1.2rem;
    color: #444342;
  }

  nav .menu-icon {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
  }

  nav .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
  }

  nav .sidebar::before {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    z-index: -2;
  }

  nav .sidebar::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(to right, #f7f7f7 1px, transparent 1px),
      linear-gradient(to bottom, #f7f7f7 1px, transparent 1px);
    background-size: 15px 15px;
    z-index: -1;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar .sidebar-main {
    max-width: 90%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid #ececec;
    box-shadow: 0 0 10px #e7e7e7;
  }

  .sidebar .main-wrapper {
    position: relative;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #f0f0f0;
    background-color: #fafafa;
    border-radius: 15px;
    color: #444342;
  }

  .sidebar .close-icon {
    font-size: 1.2rem;
    cursor: pointer;
    color: #444342;
  }

  .sidebar .close-icon:hover {
    color: #676564;
  }

  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    max-width: 85%;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 20px;
  }

  .sidebar-content .list {
    list-style: none;
    display: flex;
    max-width: 90%;
    align-items: center;
  }

  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 650;
    color: #444342;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  .lists .nav-link:hover {
    color: #676564;
    letter-spacing: 1px;
  }

  .social-lists {
    margin-top: 45px;
    padding-bottom: 40px;
  }

  .social-header {
    font-size: 0.75rem;
    font-weight: 550;
    color: #444342;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 0.6px;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }

  .overlay.active {
    display: block;
  }

  .header-pre {
    margin-top: 55px;
  }

  .header-main {
    margin-top: 25px;
    width: 95%;
    font-size: 2rem;
  }

  .header-sub {
    margin-top: 25px;
    width: 98%;
  }

  .changelog-img {
    margin-bottom: 30px;
  }

  .changelog-main {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  .changelog-sub {
    font-size: 0.8rem;
  }

  .changelog-sub li {
    padding-left: 5px;
  }

  .footer {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 800px) {
  .changelog {
    width: 85%;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 50px;
    margin-top: 60px;
  }

  .changelog-left {
    position: static;
    top: auto;
  }

  .changelog-right {
    padding: 20px;
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  nav {
    max-width: 85%;
  }

  .header-main {
    font-size: 3rem;
  }

  .changelog {
    width: 90%;
  }

  .changelog-left {
    gap: 1rem;
  }
}
