@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  background: radial-gradient(#dadada 20%, rgb(242, 242, 242) 20%);
  background-size: 10px 10px;
  background-position: 0px 20px;
  z-index: 1;
  font-family: "Rubik", sans-serif;
}

nav {
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 8;
  margin: 0px auto;
  padding: 10px 20px 25px 20px;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 120px;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 10px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 0.85rem;
  font-weight: bold;
  color: #444342;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links li a:hover {
  color: #676564;
  letter-spacing: 0.5px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  height: 2px;
  width: 8px;
  border-radius: 50px;
  background-color: #444342;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
  background-color: #676564;
}

.sidemenu {
  display: none;
}

.container {
  margin: auto;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 6px 40px;
  border-radius: 20px;
  border: 2px solid #676564;
  background-color: #f7f7f7;
  width: fit-content;
  height: 28px;
  max-width: 100%;
  text-transform: uppercase;
}

.info p {
  color: #676564;
  font-size: 0.6rem;
  font-weight: 600;
  white-space: nowrap;
}

.mobile {
  display: none;
}

h1 {
  margin: 30px 0 auto;
  color: #676564;
  text-shadow: 5px 0 #dadada;
  font-size: 4rem;
  text-align: center;
}

.set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12%, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 90%;
  margin: 90px auto 0;
  padding: 0 20px;
}

.drum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #676564;
  position: relative;
  text-align: center;
}

.w {
  background-image: url("./images/tom1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.w::before {
  content: "w";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.a {
  background-image: url("./images/tom2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.a::before {
  content: "a";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.s {
  background-image: url("./images/tom3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.s::before {
  content: "s";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.d {
  background-image: url("./images/tom4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.d::before {
  content: "d";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.j {
  background-image: url("./images/snare.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.j::before {
  content: "j";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.k {
  background-image: url("./images/crash.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.k::before {
  content: "k";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.l {
  background-image: url("./images/kick.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.l::before {
  content: "l";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dadada;
  opacity: 0.5;
}

.red {
  color: red;
}

footer {
  text-align: center;
  margin: 50px 0 30px auto;
}

footer a {
  text-decoration: none;
  color: #676564;
  font-size: 0.9rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 20px 0px 20px 15px;
  }

  nav .nav-bar {
    padding: 10px 10px;
  }

  .logo img {
    width: 100px;
  }

  .nav-links li {
    display: none;
  }

  .sidemenu {
    display: block;
    font-size: 1.2rem;
    color: #444342;
  }

  nav .menu-icon {
    display: flex;
    align-items: center;
    margin: 0 24px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  nav .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    background: radial-gradient(#dadada 20%, rgb(242, 242, 242) 20%);
    background-size: 10px 10px;
    background-position: 0px 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar .sidebar-main {
    margin: 0 auto;
    padding: 30px 30px 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar .close-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #444342;
  }

  .sidebar .close-icon:hover {
    color: #676564;
  }

  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20px 15px 40px 15px;
  }

  .sidebar-content .list {
    list-style: none;
  }

  .list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #444342;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .lists .nav-link:hover {
    color: #676564;
    letter-spacing: 1px;
  }

  .sidebar-content hr {
    border: none;
    border-top: 1px solid #676564;
    margin: 30px 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .sidebar-content hr:nth-child(1) {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .sidebar-content hr:nth-child(4) {
    margin-bottom: 40px;
  }

  .coder {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    border-radius: 0.5em;
    border: 1px solid #676564;
    width: 95%;
    margin: 0 auto;
    background-color: #f0f0f0;
  }

  .coder-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5px solid #f7f7f7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  .coder-details {
    font-weight: bold;
    color: #444342;
    letter-spacing: 0.6px;
  }

  .coder-name {
    font-size: 1rem;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  .coder-email {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }

  .overlay.active {
    display: block;
  }

  .info {
    padding: 6px 25px;
    height: 25px;
  }

  .info p {
    font-size: 0.55rem;
  }

  h1 {
    font-size: 2rem;
    margin: 30px 0 -15px auto;
  }

  .set {
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
    gap: 15px;
  }

  .drum {
    height: 120px;
    margin-bottom: 60px;
  }

  .w::before,
  .a::before,
  .s::before,
  .d::before,
  .j::before,
  .l::before,
  .k::before {
    top: -50px;
    font-size: 1.8rem;
  }

  footer {
    margin: -20px 0 40px auto;
  }

  footer a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 991px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .info p {
    font-size: 0.65rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .set {
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
    gap: 15px;
  }

  .drum {
    margin-bottom: 70px;
    height: 180px;
  }

  footer {
    margin-top: -20px;
  }
}

@media (min-width: 800px) and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }

  .set {
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    gap: 25px;
  }

  .drum {
    margin-bottom: 70px;
    height: 180px;
  }

  footer {
    margin-top: -20px;
  }
}
