@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@50..1000&family=Roboto:wght@100..900&family=Rubik:wght@300..900&display=swap");

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

body {
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
  font-family: "Rubik", sans-serif;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  width: 13%;
  height: 10px;
  border-radius: 20px;
  border: 2px solid #676564;
  padding: 6px 20px;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

.info p {
  color: #676564;
  font-size: 0.5rem;
  font-weight: 500;
}

h1 {
  margin: 30px;
  margin-top: 30px;
  text-shadow: 5px 0 #dadada;
  font-size: 4rem;
  color: #676564;
}

.set {
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 3.5%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dadada;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid #676564;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 10px 10px;
  position: relative;
  text-align: center;
  display: inline-block;
  outline: none;
  width: 150px;
  height: 200px;
}

.w {
  background-image: url("./images/tom1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.w::before {
  content: "w";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.a {
  background-image: url("./images/tom2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.a::before {
  content: "a";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.s {
  background-image: url("./images/tom3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.s::before {
  content: "s";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.d {
  background-image: url("./images/tom4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.d::before {
  content: "d";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.j {
  background-image: url("./images/snare.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.j::before {
  content: "j";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.k {
  background-image: url("./images/crash.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.k::before {
  content: "k";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

.l {
  background-image: url("./images/kick.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.l::before {
  content: "l";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-family: "Arvo", cursive;
  line-height: -10;
  font-weight: 500;
  text-shadow: 5px 0 #dadada;
  color: #676564;
}

footer {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #676564;
  font-size: 0.8rem;
}
