@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@50..1000&family=Roboto:wght@100..900&family=Rubik:wght@300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
  font-family: "Rubik", sans-serif;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
  padding: 6px 40px;
  border-radius: 20px;
  border: 2px solid #676564;
  background-color: #f7f7f7;
  width: fit-content;
  height: 30px;
  max-width: 100%;
  text-transform: uppercase;
}

.info p {
  color: #676564;
  font-size: 0.6rem;
  font-weight: 600;
  white-space: nowrap;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  text-shadow: 5px 0 #dadada;
  font-size: 3.5rem;
  margin: 50px 0 auto;
  color: #676564;
  text-align: center;
}

.container {
  display: block;
  margin: 40px 0 auto;
  max-width: 100%;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  margin: 15px;
  flex: 1 1 20%;
  max-width: 20%;
  aspect-ratio: 1 / 1;
  background-color: #fdfdfd;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 10px solid #444342;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: url(./images/dog1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.green {
  background-image: url(./images/dog2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blue {
  background-image: url(./images/dog3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.yellow {
  background-image: url(./images/dog4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pressed {
  box-shadow: 0 0 20px white;
  border: 10px solid #dadada;
}

footer {
  text-align: center;
  margin: 30px 0 30px auto;
}

footer a {
  text-decoration: none;
  color: #676564;
  font-size: 0.9rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .info {
    margin: 70px auto 0;
    padding: 6px 60px;
    height: 40px;
    max-width: 100%;
  }

  .info p {
    font-size: 1.2rem;
  }

  #level-title {
    font-size: 3.5rem;
    margin: 70px 0 auto;
  }

  .btn {
    flex: 1 1 40%;
    max-width: 40%;
    margin-top: 40px;
  }

  footer {
    margin: 70px 0 30px auto;
  }

  footer a {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 992px) {
  .btn {
    flex: 1 1 40%;
    max-width: 40%; 
    margin-top: 40px;
  }
}
